<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Index</title>
</head>
<body>
    <center>
        <h3> My New Page for MyData </h3>

        <table class="styled-table">
            <tr class="active-row">
                <th>user_id</th>
                <th>name</th>
                <th>email</th>
                <th>password_hash</th>
                <th>created_at</th>
                <th>Action</th>
            </tr>
            @foreach (MyData customer in Model)
            {
                <tr class="active-row">
                    <td>@customer.user_id</td>
                    <td>@customer.name</td>
                    <td>@customer.email</td>
                    <td>@customer.password_hash</td>
                    <td>@customer.created_at</td>
                    <td><button>edit</button></td>
                </tr>
            }
        </table>
    </center>
</body>
</html>